<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--加载application.properties中的配置 -->
	<springProperty scope="context" name="server.port" source="server.port"/>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>
	<appender name="APPENDER"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<fileNamePattern>d:/data/logs/scp-event-component-${server.port}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<!--文件最多保留的天数 -->
			<maxHistory>7</maxHistory>
			<!--文件最大为多少 -->
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="ERRORAPPENDER"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<fileNamePattern>d:/data/logs/error/scp-event-component-${server.port}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<!--文件最多保留的天数 -->
			<maxHistory>7</maxHistory>
			<!--文件最大为多少 -->
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

	</appender>

	<!--设置日志打印级别-->
	<logger name="com.eg.egsc" additivity="false">
		<level value="INFO" />
		<appender-ref ref="APPENDER"/>
		<appender-ref ref="ERRORAPPENDER"/>
	</logger>
	<!--设置框架日志打印级别-->
	<root>
		<level value="INFO" />
		<appender-ref ref="APPENDER" />
		<appender-ref ref="ERRORAPPENDER"/>
		<appender-ref ref="Console"/>
	</root>

</configuration>